header{
    height: 80px;
    border: 1px dashed black;
}
.sidebar{
    height: calc(100vh - 80px);
    border: 1px dashed black;
    width: 80px;
}
.main{
    border: 1px dashed black;
    height: calc(100vh - 80px);
    width: 100%;
}
.sidebar-nav, .sidebar-settings{
    width: 60px;
    border: 1px dashed black;
    height: 60px;
}