header{
    height: 80px;
    border: 1px dashed black;
}
.sidebar{
    height: calc(100vh - 80px);
    border: 1px dashed black;
    width: 80px;
}
.main{
    border: 1px dashed black;
    height: calc(100vh - 80px);
    width: 100%;
    overflow: auto;
}
.sidebar-nav, .sidebar-settings{
    width: 60px;
    border: 1px dashed black;
    height: 60px;
}
.col{
    border: 1px dashed black;
}
.info-students{
    border: 1px dashed black;
    color: white;
}
.info-students{
    background-color: #1b72e8;
    
}
.new-student .btn{
    border-color: white;
    color: white;
    width: 40px;
    height: 40px; 
    margin-left: 20px;
}
.info-students .badge{
    background-color: #165bba;
    font-size: 1rem;
    font-weight: 400;
}
/* RESPONSIVE SIDEBAR */
@media screen and (min-width: 1200px){
    .sidebar{
        width: 200px;
    }
}